<!doctype html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<link rel="icon" href="data:," type="image/x-icon">
<style>
#links li a { color: #777; }
#links li { display: inline; font-size: 0.8em; }
#links { padding-left: 0; color: #777}
.date { color: gray; }
p:first-child { margin-top: 0; }
td:nth-child(odd) { padding-left: 0; min-width: 60px; text-align: right; }
td { padding: 0 8px; }
img { width: 500px; max-width: 96vw; }
main { text-align: justify; width: 500px; max-width: 96vw; margin: 60px auto; }
body { line-height: 1.8em; color: #333; }
</style>
</head>
<body>
<main>
